<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Editar un producto'}) %>

<body>
        <%- include('../partials/header') %>
       
    <section class="add-product">
       

        <form action="/products/editProduct/<%=productoEnDetalle.id%>?_method=PUT" method="POST" enctype="multipart/form-data" >
          
            <div>
                <label for="nombre">Nombre: <%=productoEnDetalle.nombre %> </label>
                <input type="text" value=<%=productoEnDetalle.nombre %> id="nombre" name="nombre" class="img-nueva" placeholder="Nuevo nombre">
            </div>
      
            <label for="imagen">Agregue imagenes: <%=productoEnDetalle.imagen%></label>
            <br>
            <input type="file" name="imagen">
        <br>    
        <br>
                               
        <div>
            <label for="precio">Precio Actual: $<%=productoEnDetalle.precio %> </label>
            <br>
            <input type="number" value=<%=productoEnDetalle.precio %>  id="precio" name="precio" class="precio-nuevo" placeholder="$$$$">
        </div>
        
        <div>
            <label for="descripcion">Descripcion:<%=productoEnDetalle.descripcion %></label>
            <br>
            <input type="text" name="descripcion" id="descripcion" class="desc-nuevo-product" value=<%=productoEnDetalle.descripcion %> placeholder="Nueva descripción">
        </div>

        <label for="categoría">Característica:<%=productoEnDetalle.categoría %> </label>
        <br>
            <select  type="text" name="categoria" class="interior-exterior">
                <option value="Exterior">Exterior</option>
                <option value="Interior">Interior</option>
            </select>
        <button type="submit" value="Login" class="login-button">Editar Producto</button>
          
        </form>

    </section>

</main>
<%- include('../partials/footer') %>
<script src="../JS/editProductValidation.js"></script>
</body>
</html>