<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Home'}) %>
<body>
  <%- include('../partials/header') %>
    <main>
      
      <div class="banner"><img src="/img/Plantasia.png"></div>
      <!--Section Products-->
        <!--Menu-Sidebar-->
        <section class="section products">
            
              <div class="col-1-of-4">
                <div>
                  <div class="block-title">
                    <h4>Categoría</h4>
                  </div>
        
                  <ul class="block-content">
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Plantas de Interior</span>
                        <small>(20)</small>
                      </label>
                    </li>
        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Plantas de Exterior</span>
                        <small>(7)</small>
                      </label>
                    </li>
        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Macetas</span>
                        <small>(3)</small>
                      </label>
                    </li>
        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Sustratos</span>
                        <small>(3)</small>
                      </label>
                    </li>

                    <li>
                        <input type="checkbox" name="" id="">
                        <label for="">
                          <span>Accesorios</span>
                          <small>(3)</small>
                        </label>
                      </li>
                  </ul>
                </div>
        
                <div>
                  <div class="block-title">
                    <h4>Filtrar Por</h4>
                  </div>
                  
                  <ul class="block-content">
                        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Precio</span>
                        <small>(10)</small>
                      </label>
                    </li>
        
                    <li>
                      <input type="checkbox" name="" id="">
                      <label for="">
                        <span>Tamaño Lts</span>
                        <small>(7)</small>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            
              <!--Menu-Sidebar-->
              <!--Produtct-Layout-Filter-->
            <div class="col-3-of-4">
                <form action="">
                  <div class="item">
                    <label for="sort-by">Sort By</label>
                    <select name="sort-by" id="sort-by">
                      <option value="title" selected="selected">Name</option>
                      <option value="number">Price</option>
                      <option value="search_api_relevance">Relevance</option>
                      <option value="created">Newness</option>
                    </select>
                  </div>
                  <div class="item">
                    <label for="order-by">Order</label>
                    <select name="order-by" id="sort-by">
                      <option value="ASC" selected="selected">ASC</option>
                      <option value="DESC">DESC</option>
                    </select>
                  </div>
                  <a href="">Apply</a>
                </form>
              
            
             <!--Produtct-Layout-Filter-->
        
        <!--Produtct-Layout-->

        <div class="product-layout">
          <% for(let i=0;i<productos.length;i++) { %>
            
            <div id = "prueba" class="product">
              <div class="img-container">
                <h2 id="productoID"><%=productos[i].id%></h2>
                <img id="imagen" src="/img/<%=productos[i].imagen %>" class="img-product" alt="" />
                <div  class="addCart">
                  <button  onclick="agregar(['<%=productos[i].id %> ', '<%=productos[i].imagen %>', '<%=productos[i].precio %>','<%=productos[i].nombre %>' ])" class="fas fa-shopping-cart"></button>
              </div>
            </div>
              <div class="bottom">
                <a id="nombre" href="../products/detalle-producto/<%=productos[i].id %>"><%=productos[i].nombre %></a>
                <div class="price">
                  <span id="precio">$<%=productos[i].precio %></span>
                </div>
              </div>
            </div>
            <% } %>
            
      <!--Section Products-->
    </main>
    <script src="/JS/carrito.js"></script>
    <%- include('../partials/footer') %>
    
</body>

</html>
