<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Registro' }) %>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <form action="/users/registro" method="POST" enctype="multipart/form-data">
        <section class="form-registro">
            <h4>Registro</h4>
            <div>
                <input class="controls" type="text" name="fullName" value="<%= locals.oldData ? oldData.fullName : null %>" placeholder="Ingrese su nombre completo">
                <% if (locals.errors && errors.fullName) { %>
                    <div class="text-danger">
                        <%= errors.fullName.msg %> 
                    </div>
                <% } %>
            </div>
           <div>
            <input class="controls" type="email" name="email" value="<%= locals.oldData ? oldData.email : null %>" placeholder="Ingrese su Email">
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
           </div>
           <div>
            <input class="controls" type="password" name="password"  placeholder="Ingrese su Contraseña">
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %>
                </div>
            <% } %>
           </div>
            <div>
                <label for="imagen" class="form-label">Imagen</label>
                <br>
                <input type="file" name="imagen">
                <% if (locals.errors && errors.imagen) { %>
                    <div class="text-danger">
                        <%= errors.imagen.msg %>
                    </div>
                <% } %>
            </div>
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
            <input class="botons" type="submit" value="Registrar">
            <p><a href="../users/login">¿Ya tengo Cuenta?</a></p>
        </section>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>